extends ./layouts/main.pug

block content
  .site-wrapper.coverimg
      .site-wrapper-inner
        .cover-container
          .masthead.clearfix
            .inner
              h1.masthead-brand Twitter
              #myNavbar.collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-right
                  #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    form#signin.navbar-form.navbar-right(role='form', action='/login', method='post')
                      .input-group
                        span
                          input#email.form-control(type='email', placeholder='email', name='email', required='')
                        -if(errors)
                          each error in errors
                            -if(error.param == 'email')
                              p= error.msg

                      | &nbsp &nbsp
                      .input-group
                        span
                          input#password.form-control(type='password', placeholder='Password', name='password', required='')
                        -if(errors)
                          each error in errors
                            -if(error.param == 'password')
                              p= error.msg

                      | &nbsp &nbsp
                      input.form-control.btn.btn-primary(type='submit', value='Log in')


          .inner.cover
            h1.cover-heading Hola !!
            p.lead
              | Create your network here, make friends follow them, make tweets and many more.
              br
              | Hurry up !! Friends are waiting for you

        .container
          #logbox
            form#register_data(role='form', action='/register', method='post')
              h1 Create an Account
              input.input.pass(type='text', placeholder='username', name='username', required='')
              -if(errors)
                each error in errors
                  -if(error.param == 'username')
                    p= error.msg
              input.input.pass(type='password', placeholder='Password', name='password', required='')
              -if(errors)
                    each error in errors
                      -if(error.param == 'password')
                        p= error.msg
              input.input.pass(type='text', placeholder='Email address', name='email', required='')
              -if(errors)
                    each error in errors
                      -if(error.param == 'email')
                        p= error.msg
              input.inputButton(type='submit', value='Sign up')



